

    <section id="sessao_adm" class="col-2">
      <div id="nomeAdm">
        <div>
          <h4 class="escletra h1s">Bem-vindo, {{username}}!</h4>
          <!-- <h5>{{useremail}}</h5> -->
          <!-- <h5>{{userid}}</h5> -->
          <h5>{{userdata}}</h5>
          <h5>{{usernivel}}</h5>
          <!-- <h3>{{username}}</h3> -->
        </div>
      </div>
      <div id="tempo_sessao">
        <br />
      </div>
      <div>
        <button id="btn_sair" class="btn btn-danger">Sair</button>
      </div>
    </section>

