{% extends "base.html" %}
{% block link %}


        <html id='html_exibiradmins'>
        <link rel="stylesheet" href="/assets/css/home.css">    
        <title>Admins</title>
{% endblock %}

    
{% block body %}

<section id="conteudo">

    <header id="header">
        {{include('dados_session.html')}}
        {{include('nav.html')}}

    </header>
    
    {{include('tabela.html')}}



    {{include('sessao_modal.html')}}

</section>

{% endblock %}

{% block script %}
<script src="/assets/js/listar_admins.js"></script>
{% endblock %}