{% extends "base.html" %}
{% block link %}


        <html id='html_exibiradmins'>
        <link rel="stylesheet" href="/assets/css/home.css">    
        <title>Admins</title>
{% endblock %}

    
{% block body %}

<section id="conteudo">

    <header id="header">
        {{include('dados_session.html')}}
        {{include('nav.html')}}

    </header>
 
    {{include('tabela.html')}}



    {{include('sessao_modal_adm.html')}}
    
<!--     
    <footer id="footer">
        <div id="div_footer">
            <img src="/assets/img/regua_logos_todos_contra_dengue.png" >
        </div>
    </footer> -->
</section>

{% endblock %}

{% block script %}
<script src="/assets/js/listar_admins.js"></script>
{% endblock %}