#section_cards{ 
    background-color: transparent;
    width: 100%;
    padding: 10px;
    
}
#divcard{ 
    display: flex;
    justify-content: center;
    width: 100%;
 
}
#ul_cardlist {
    /* background-color: red; */
    background-color: transparent;
    padding: 50px;
    list-style: none;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.cardPerso{ 
    max-width: 400px; 
    padding: 10px;
}
.div_btn{ 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/* //animaçoes  */
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
@keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}