.body_recsenha{ 
    background-image: url("/assets/img/back2.jpg");
}

#div-img{
    /* background-color: red; */

    display: flex;
    justify-content: end;
    padding-right: 380px;
    height:55px;
    padding-left:15px;
    z-index: 0;
    position: relative;
}

#img_recSenha{
    width: 350px;
    position: absolute;
 
}
.box-shadown{ 
    
    box-shadow: 9px 7px 30px -4px rgba(29, 27, 27, 0.747)

}